.carousel-size {
    width:100%;
    height:500px;
  }

.progress{
    height: 25px;
}

#content{
    margin:auto;
}

#loader{
    margin:auto;
}

#content-row{
    margin-left: 2px;
    margin-right: 2px;
}